In [1]:
### Heroes Of Pymoli Data Analysis
# * Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

# * Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
# -----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
purchase_df = pd.DataFrame(purchase_df)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [13]:
player_demography = purchase_df.iloc[:, [ 1, 2, 3]]
player_demography = player_demography.drop_duplicates()
player_demography.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

* Display the total number of players

In [14]:
players_count = player_demography.count()[0]
pd.DataFrame({"Total Players": [players_count]})

   Total Players
0            576

In [15]:
#Number of Unique Items
item_count = len(purchase_df["Item ID"].unique())
# Average Purchase Price
avg_price = purchase_df["Price"].mean()

#Total Number of Purchases
purchase_count = purchase_df["Price"].count()

#Total Revenue
total_revenue = purchase_df["Price"].sum()

#Create a summary data frame to hold the results
summary_data= pd.DataFrame({"Number of Unique Items": item_count,
                              "Total Revenue": [total_revenue],
                              "Number of Purchases": [purchase_count],
                              "Average Price": [avg_price]})
summary_data

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                     179        2379.77                  780       3.050987

## Purchasing Analysis (Total)

In [16]:
summary_data = summary_data.round(2)
summary_data ["Average Price"] = summary_data["Average Price"].map("${:,.2f}".format)
summary_data ["Number of Purchases"] = summary_data["Number of Purchases"].map("{:,}".format)
summary_data ["Total Revenue"] = summary_data["Total Revenue"].map("${:,.2f}".format)
summary_data = summary_data.loc[:,["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
 
summary_data

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Group purchase_data by Gender
gender_group = purchase_df.groupby("Gender")

# Count the total of screen names "SN" by gender
total_count_gender = gender_group.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_count_gender / total_players * 100

# Create data frame with obtained values
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

# Format the data frame with no index name in the corner
gender_demographics.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

NameError: name 'total_players' is not defined

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [18]:
#groupby gender
gender_group = player_demography["Gender"].value_counts()
gender_demo_totals = gender_group / players_count * 100

gender_demo_totals = gender_demo_totals.round(2)
gender_demo_totals

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:

# Count the total purchases by gender 
purchase_count = gender_group["Purchase ID"].count()

# Average purchase prices by gender
avg_purchase_price = gender_group["Price"].mean()

# Average purchase total by gender 
avg_purchase_total = gender_group["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total  / gender_demo_totals 

# Create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Provide index in top left as "Gender"
gender_demographics.index.name = "Gender"

# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
# Establish the bins 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
player_demography["Age Ranges"] = pd.cut(player_demography["Age"], age_bins, labels=group_names)

# Calculate the Numbers and Percentages by Age Group
age_demography_totals = player_demography["Age Ranges"].value_counts()
age_demography_percentage = age_demography_totals / players_count * 100
age_demography = pd.DataFrame({"Total Count": age_demography_totals, "Percentage of Players": age_demography_percentage})

# Minor Data Munging
age_demographiy = age_demography.round(2)

# Display Age Demographics Table
age_demography.sort_index()

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
# count purchases by age
purchase_df["Age Ranges"] = pd.cut(purchase_df["Age"], age_bins, labels=group_names)

# Run basic calculations
age_purchase_total = purchase_df.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_avg = purchase_df.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_df.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

# Calculate Normalized Purchasing (Average Purchase Total per Person)
normalized_total = age_purchase_total / age_demography["Total Count"]

# Convert to DataFrame
age = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_avg, "Total Purchase Value": age_purchase_total, "Normalized Totals": normalized_total})

# Minor Data Munging
age["Average Purchase Price"] = age["Average Purchase Price"].map("${:,.2f}".format)
age["Total Purchase Value"] = age["Total Purchase Value"].map("${:,.2f}".format)
age ["Purchase Count"] = age["Purchase Count"].map("{:,}".format)
age["Avg Total Purchase per Person"] = age["Normalized Totals"].map("${:,.2f}".format)
age = age.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

# Display the Age Table
age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
# Group purchase data by screen names
spender_group = purchase_df.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_group["Age Ranges"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_group["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_group["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
# Create new data frame
items = purchase_df[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_group = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_group["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_group["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [28]:
# sort popular items data frame 
popular_formatted = popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})